/* section */
.page2_sec{
border-top-width: 2px;
background-color: #012426;
padding:96px 94px ;
display: flex;
flex-direction: column;
row-gap: 64px;
margin-top: 96px;
}
.filter_sort{
    display: flex;
    justify-content: space-between;
}
.filter_p{
    font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
color: #D9D9D9;
}
.fa-bars{
    font-size: 20px;
    color: #D9D9D9;
}
.filter{
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.sort{
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.sort_p{
    font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
color: #D9D9D9;
}
select{
    width: 160px;
height: 32px;
border-radius: 4px;
border: none;
background-color:#A1C3C9 ;
}
/* guitars */
.guitars{
  display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 40px 20px;
}
.guitar_article{
 display: flex;
 flex-direction: column;
transition: .3s;
}
.guitar_article:hover{
    box-shadow: 0px 0px 8px 4px #05BCCACC;
    cursor: pointer;
}
.guitar_div{
    display: flex;
    flex-direction:column ;
    background-color:#2C4246 ;
    padding: 16px 8px;
}
.guitar_div_bottom{
    display: flex;
    justify-content: space-between;
}
.guitar_p{
    font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 27px;
letter-spacing: 0%;
color: #D9D9D9;
}
.price1{
    font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 27px;
letter-spacing: 0%;
color: #05BCCA;
}
.cart{
    background-color: #C46A2B;
    display: flex;
    align-items: center;
    width: 27px;
height: 27px;
border-radius: 4px;
justify-content: center;
color:#FFFFFF ;
border: none;
cursor: pointer;
transition: .3s;
}
.cart:hover{
       animation: wiggle 0.4s ease-in-out;


}
@keyframes wiggle {
  0%, 100%{transform: rotate(0);}
  25%{transform: rotate(10deg);}
  50%{transform: rotate(-10deg);}
  75%{transform: rotate(5deg);}
}

/* pages */
.previous{
display: flex;
column-gap: 16px;
padding: 8px;
width: 121px;
height: 40px;
border-radius: 8px;
background-color: #C46A2B;
justify-content: center;
align-items: center;
border: none;
cursor: pointer;
transition: .3s;
}
.previous:hover{
    box-shadow: 0px 0px 8px 2px #05BCCACC;
}
.button_p{
    font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #D9D9D9;
}

.fa-angle-left,
.fa-angle-right{
    color: #D9D9D9;
}
.pages{
    margin: auto;
    width: 394px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.oneto5{
font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #FFFFFF;
}
.next{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    column-gap: 16px;
    padding: 8px;
    background-color: #05BCCA;
    width: 92px;
height: 40px;
border-radius: 8px;
transition: .3s;
cursor: pointer;
}
.next:hover{
    box-shadow: 0px 0px 8px 2px #C46A2B;

}
